<html>
<head></head>

<body>

  <form action='/addpost' method="POST">
    <input type="text" name="title" placeholder="title" />
    <textarea name="body"></textarea>
    <button type="submit">Save</button>
  </form>

<ul>
these should print
{{#blogs}}


<li>
  <div>
  {{title}}
  </div>
  <p>
  {{title}}
  {{body}}
  {{id}}

  
  </p>
  <form action="/delete-post" method="POST">
    <input type="hidden" name="Id" value="{{id}}" />
    <button type="submit">Delete</button>
   
  </form>

   <a href="/update-blog/{{id}}"><button>Edit</button></a>

   
  <form action="/add-comment" method= "POST">
  <input type="text" name="comment" placeholder="Add Nice comment" />'
  <input type="hidden" name="Id" value="{{id}}" />
  <button type="submit">Submit comment</button>

  
</li>

{{/blogs}}




</ul>


</body>

</html>
