<html>
<head></head>

<body>

  <h1>Edit Post</h1>
  {{title}}

  <form action='/update-blog' method="POST">
    <input type='hidden' name='Id' value="{{blog.id}}" />
    <input type="text" name="title" value="{{blog.title}}" />
    <textarea type="text" name="body"> {{blog.body}}</textarea> 
    <button type="submit">Update</button>

  </form>

</body>

</html>
