<html>
<head></head>

<body>

  
<ul>

<h1>{{blog.title}}</h1>
<p>Description {{blog.body}}

{{#blog.comments}}


<li>
  <div>
  {{title}}
  </div>
  <p>
  
  {{body}}
  

  
  
   
   <a href= "/delete-comment/{{id}}"><button>Delete Comment</button></a>
  

   
  
</li>

{{/blog.comments}}
 
 <a href="/blog"><button>Return to blogs</button></a>



</ul>


</body>

</html>
